
<%= form_for(@f_report) do |f| %>

  <p>ポイント画像：<%= f.attachment_field :photo_image, multiple: true %></p>


<%= f.label :"写真" %><br>
<!-- <%#= f.attachment_field :photo_image, placeholder:"ポイント写真", class:"data" %><br> -->

<%= f.label :"ポイント名" %><br>
<%= f.select :fishing_spot_id,FishingSpot.all.collect { |p| [ p.fishing_spot_name, p.id ] }, {include_blank: true}, {class: 'data'} %><br>

<%= f.label :"釣行日" %><br>
<%#= f.date_select :fishing_date, class:"data" %><br>
<%= f.date_select(:fishing_date, use_month_numbers: true, class:"data") %><br>

<%= f.label :"時間" %><br>
<%= f.text_field :time, class:"data" %>時<br>

<%= f.label :"天気" %><br>
<%= f.select :weather, FishingReport.weathers.keys.to_a, {}, class: "data" %><br>

   <%= f.label :"最大サイズ" %><br>
<%= f.number_field :size, class:"data" %>cm<br>

   <%= f.label :"ルアータイプ" %><br>
<%= f.select :lure_type_id, LureType.all.collect { |p| [ p.type_name, p.id ] }, {include_blank: true}, {class: "data"} %><br>

   <%= f.label :"レンジ" %><br>
<%= f.text_field :range, class:"data" %><br>

   <%= f.label :"リトリーブ" %><br>
<%= f.text_field :retrieve, class:"data" %><br>

<%= f.label :"ルアー名" %><br>
<%= f.text_field :lure_name, class:"data" %><br>

<%= f.label :"釣果報告" %><br>
<%= f.text_area :fishing_body, class:"data" %><br>

<p><%= f.submit '上記の内容で登録する', class:"btn btn-success active data" %></p>

<% end %>