<td><%= user.id %></td>
<td><%= user.nickname %></td>
<% if current_user.following?(user) %>
	<td><%= link_to "フォロー中", follow_path(user.id), remote: true, class: "follow now", data: {"id" => user.id} %></td>
<% else %>
	<td><%= link_to "フォローする", follow_path(user.id), remote: true, class: "follow yet", data: {"id" => user.id} %></td>
	<!-- カスタムデータ属性 -->
<% end %>
<td><%= link_to user.followed_users.count, tmp_path(user.id, "follow"), class: "forf", remote: true %></td>
<td><%= link_to user.followers.count, tmp_path(user.id, "follower"), class: "forf", remote: true %></td>

