<h1>top編集ページ</h1>
<%= form_for(@spot) do |f| %>
    <h4>タイトル</h4>
<h4>ポイントイメージ</h4>
<%= f.attachment_field :fishing_spot_image, placeholder:"ポイントイメージ", class:"" %>
<h4>釣りポイント</h4>
<%= f.text_field :fishing_spot_name, placeholder:"釣りポイント名を入力", class:"" %>
<h4>ポイント説明</h4>
<%= f.text_area :fishing_spot_body, placeholder:"ポイント説明文", class:"" %>
<%= f.submit class:"btn btn-primary data" %>
<% end %>
