<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <nav class="nav">
        <ul class="ruled">
<% if user_signed_in? %>
      <li class="li">
      <%= link_to "top", fishing_spots_path %>
      </li>
      <li class="li">
      <%= link_to "top登録ページ", new_fishing_spot_path %>
      </li>
      <!-- <li class="li"> -->
      <%#= link_to " top編集ページ", edit_fishing_spot_path %>
      <!-- </li> -->
      <li class="li">
      <%= link_to "釣果報告投稿ページ", new_fishing_report_path %>
      </li>
      <li class="li">
      <%= link_to "釣果報告一覧ページ", fishing_reports_path %>
      </li>
      <li class="li">
      <%= link_to "マイページ", user_path(current_user.id) %>
      </li>
      <li class="li">
      <%= link_to "ユーザー一覧ページ", users_path %>
      </li>
      <li class="li">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
<% else %>
      <li class="li">
      <%= link_to "top", fishing_spots_path %>
      </li>
      <li class="li">
      <%= link_to "top登録ページ", new_fishing_spot_path %>
      </li>
      <!-- <li class="li"> -->
      <%#= link_to " top編集ページ", edit_fishing_spot_path %>
      <!-- </li> -->
      <li class="li">
      <%= link_to "釣果報告投稿ページ", new_fishing_report_path %>
      </li>
      <li class="li">
      <%= link_to "釣果報告一覧ページ", fishing_reports_path %>
      </li>
      <!-- <li class="li"> -->
      <%#= link_to "マイページ", user_path %>
      <!-- </li> -->
      <li class="li">
      <%= link_to "ユーザー一覧ページ", users_path %>
      </li>           
      <li class="li">
      <%= link_to "Log in", new_user_session_path %>
      </li>
      <li class="li">
      <%= link_to "Sign Up", new_user_registration_path %>
      </li>
<% end %>
        </ul>
      </nav>
      
    </div>
    <%= yield %>
  </body>
</html>
